---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/placeholder-about.jpg"
>
<p>This website is written by Chris Enns (surprise!), a podcast editor & producer living in Saskatoon, Saskatchewan, Canada.</p>

<p>I run [Lemon Productions](https://www.lemonproductions.ca/), where I help people & businesses build, launch, edit, and produce podcasts. What kind of podcasts? [Take a look at my portfolio](https://www.lemonproductions.ca/portfolio).</p>

<h3>Client Sample</h3>

<iframe width="100%" height="180" frameborder="no" scrolling="no" seamless="" src="https://share.transistor.fm/e/b88889d0"></iframe>

<p>I also run a podcast network with friends called [Goodstuff](https://goodstuff.network/).</p>

<h3>This Blog</h3>

<p>I started this website in 2002 with [this very insightful post](https://chrisenns.com/2002/05/going-to-edmonchuck/). My initial run of posts reads more like how we tweet these days. Not really worth going back to read but I'm a sucker for archiving all the things.</p>

<h3>Subscribe via RSS</h3>

<p>If you'd like to subscribe to my blog via your favorite RSS reader - RIP Google Reader - use this link: [https://chrisenns.com/feed.xml](https://chrisenns.com/feed.xml).</p>

<p>I personally use [Feedbin](https://feedbin.com/) these days along with [NetNewsWire for macOS and iOS](https://ranchero.com/netnewswire/).</p>

<h3>About the Server & Software</h3>

<p>This website is powered by things, hosted at <a href="https://www.netlify.com/">Netlify</a>, and written in <a href="https://code.visualstudio.com/">Visual Studio Code</a> or the [Netlify CMS](https://www.netlifycms.org/).</p>

<p>You can see more of the software and hardware I recommend [here](https://chrisenns.com/uses/).</p>

</Layout>
